body {
    background: #272822;
    color: #fff;
    padding: 20px;
}
.parent-note-addition-block, .notes-renderer-block, .note-search-block{
    width:calc(100% - 20px);
}
#parentnoteinput, #notesearchinput{
    width: 70%;
}
#parentnotebtn, #notesearchbtn{
    width: 25%;
}
.note-container{
    margin:10px;
    border: 1px solid #fff;
    padding: 5px;
}
.sub-note-addition-input{
    width: 60%;	
}
.sub-note-addition-btn, .note-delete-btn{
    width: 100%;
    font-size: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow:hidden;
}
.sub-note-addition-btn-container, .note-delete-btn-container{
    width: 18%;
    display: inline-block;
}
.inactive-note.note-container{
    display: none;
}